:root {
  --cor-primaria: #213555;
  --cor-secundaria: #3E5879;
  --cor-terciaria: #D8C4B6;
  --cor-fundo-claro: #F5EFE7;
  --alto-contraste-fundo: #000000;
  --alto-contraste-texto: #ffffff;
  --alto-contraste-link: #ffd700;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  background-color: var(--cor-fundo-claro);
  color: var(--cor-primaria);
}

header {
  background-color: var(--cor-secundaria);
}

.nav-link {
  color: var(--cor-terciaria);
  font-weight: 600;
}

.inicio-fundo {
  background-image: url('img/justin-bg.jpg');
  background-size: cover;
  background-position: right;
  border-radius: 80px;
  width: 100%;
  height: 606px;
  padding: 40px;
  margin: 0 auto;
  position: relative;
}

.img-inicio {
  position: absolute;
  right: 0;
  top: 18rem;
  width: 45rem;
  height: auto;
}

.botao-inicio,
.btn-primary {
  background-color: var(--cor-primaria);
  color: #fff;
  border-radius: 30px;
  border: none;
}

.display-4 {
  text-shadow: -5px 5px var(--cor-terciaria);
}

h2 {
  font-family: 'Lemon', serif;
  font-size: 2.5em;
  color: var(--cor-primaria);
}

#justin {
  background: url('img/justin-background-right.png') top right no-repeat,
              url('img/justin-background-left.png') bottom left no-repeat;
  background-size: 180px 180px;
  padding-top: 5rem;
  margin: 3rem 0; 
}